/*:root {
  --success: #18bc9c;
  --success-dark: #15a589;
  --warning: #f39c12;
  --warning-dark: #c87f0a;
}*/

/*Set the min and max width of the tooltips*/
.tooltip-inner {
  width: 250px;
}

/*switches color not selected*/
.material-switch > label::after {background: #DDD;}

/*add darker borders around buttons*/
.btn-success {border-color: #15a589;}
.btn-warning {border-color: #c87f0a;}
.btn-default .active {background-color: #911eb4;}

/*remove hover color from 'weergave'*/
.dual:hover {background-color: #f39c12;}

.border-div{text-align: right}

/*dropdown menu for diagram options*/
.sw-dropdown-in{text-align: left; width: 265px; margin:0; padding:7px; border-radius: 10px}

/*collapse menu for treatment*/
.collapse, .collapsing{text-align: left; box-shadow: 0px 0px 15px 0px #c0c0c0; padding: 7px; padding-top: 0px; border-radius: 10px;}

/*Check box*/
.pretty input:checked~.state.p-success label:after, .pretty.p-toggle .state.p-success label:after
  {background-color: #18bc9c!important;}

/*Slider bar for month input*/
.irs-bar, .irs-single, .irs-bar-edge{background-color: #f39c12; border-color: #c87f0a;}
.irs-grid-pol.large {height:12px;}


/* The sidebar menu */
.sidenav {
    width: 310px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 15px;
    padding-right: 30px;
    padding-top: 0;
    height: 100%;
}
/*.tooltip {position: relative;}
