/*:root {
  --success: #18bc9c;
  --success-dark: #15a589;
  --warning: #f39c12;
  --warning-dark: #c87f0a;
  --danger: #e74c3c
}*/
html, body{
    height: 100%;
}

.bootstrap-switch .bootstrap-switch-label {
  background: #e6e6e6 !important;
}

/*Overflow for treatments for TOX*/
#set_tox_first_line {
 max-height: 250px;
 overflow-y: scroll; 
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: #dee2e6;
    color: #2c3e50;
    padding: 10px;
    vertical-align: middle;
    z-index: 2; /* Stay on top */
    height: 60px;
}

.modal-footer {
  border-top-style: none;
}

h3, .h3 {
  margin: 0;
}

/*progress bar*/
.progress {
  background: #fff;
  border-width: 1px;
  border-style: solid;
  height: 16px;
}

/*background input form*/
.jumbotron {
  padding: 12px 60px 12px 60px;
  margin: 30px 0 30px 0;
  background-color: #ecf0f1;
}

.tab-content {
  margin-top: 60px;
  padding-top: 10px;
  margin-bottom: 60px;
  padding-bottom: 10px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
}
.nav_buttons {
  margin: 0 auto;
  width: 130px;
  font-size: 0;
}

/*Set the min and max width of the tooltips*/
.tooltip-inner {
  max-width: 250px;
}

.form-container {
  transition:max-height 1s ease-in-out;
}

/*validation on number input*/
.incorrect-input, .incorrect-input:focus {
  border: 2px solid #e74c3c;
}
.correct-input, .correct-input:focus {
  border: 2px solid #18bc9c;
}
.invalid-text {
  color: #e74c3c;
}

/*disabled button (for previous and next in entry form)*/
.bttn[disabled], .bttn[disabled]:hover {
  cursor: not-allowed;
  background-color: gray;
  transition: null;
  pointer-events: none;
}

/*switches color not selected*/
.material-switch > label::after {background: #DDD;}

/*add darker borders around buttons*/
.btn-success {border-color: #15a589;}
.btn-warning {border-color: #c87f0a;}
.btn-default .active {background-color: #911eb4;}

/*remove hover color from 'weergave'*/
.dual:hover {background-color: #f39c12;}

.border-div{text-align: right}

/*dropdown menu for diagram options*/
.sw-dropdown-in{text-align: left; width: 265px; margin:0; padding:7px; border-radius: 10px}

/*collapse menu for treatment*/
.collapse, .collapsing{text-align: left; box-shadow: 0 0 15px 0 #c0c0c0; padding: 7px; border-radius: 10px;}

/*Check box*/
.pretty input:checked~.state.p-success label:after, .pretty.p-toggle .state.p-success label:after
  {background-color: #18bc9c!important;}

/*Slider bar for month input*/
.irs-bar, .irs-single, .irs-bar-edge{background-color: #f39c12; border-color: #c87f0a;}
.irs-grid-pol .large {height:12px;}

.page-content {
  margin-right: 310px;
}

/* The sidebar menu */
.sidebar {
    top: 81px; /*Height of nav bar*/
    width: 310px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 15px;
    padding-right: 30px;
    padding-top: 0;
    height: 100%;
}

/*Radio active buttons*/
@-webkit-keyframes warningPulse {
  from { background-color: #f39c12; -webkit-box-shadow: 0 0 9px #fff; }
  50% { background-color: #f39c12; -webkit-box-shadow: 0 0 18px 3px #ffb428; }
  to { background-color: #f39c12; -webkit-box-shadow: 0 0 9px #fff; }
}

.warning.pulse:enabled {
  -webkit-animation-name: warningPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

#submit_data:hover {
  border: 1px #f39c12;
  border-style: solid;
}

/*Flag icons*/
.flag-icon {
	position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
	box-shadow: 0 0 3px rgba(0,0,0,.64);
	vertical-align: middle;
}

.modal-header {
  background-color: #f39c12;
  color:white !important;
  text-align: center;
}